@model PKTickets.Models.Theater


<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>


<div class="row justify-content-center" >
    <div class="card text-black" style="border-radius: 25px;background-color:#ddd">
        <div class="card-body p-md-5">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5">
                    <h1 class="text-center">Create Theater</h1>
                    @using (Html.BeginForm(FormMethod.Post, new { id = "CreateTheater" }))
                    {
                        @Html.HiddenFor(x=>x.TheaterId, new{@class="form-control"})
                        <div class="mb-3 row justify-content-center">
                            <div class="col-4">
                                <label class="required">Theater Name:</label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(x=>x.TheaterName, new {@class="form-control", type="string", required = "required", maxlength = "15"})
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <div class="col-4">
                                <label class="required">Location:</label>
                            </div>
                            <div class="col-6">
                                @Html.TextBoxFor(x=>x.Location,new {@class="form-control",required = "required",type="string"})
                            </div>
                        </div>
                        <div class="mb-3 row justify-content-center">
                            <div class="col-3">
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-10 col-lg-6 ">
                    <img src="~/css/image/theatre.jpg" class="img-fluid" alt="Sample image">
                </div>
            </div>
        </div>  
    </div>
</div>

@section scripts{

}


